<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

<servlet>
  <servlet-name>FetchEventsServlet</servlet-name>
  <servlet-class>FetchEventsServlet</servlet-class>
</servlet>

<servlet>
  <servlet-name>CreateEventServlet</servlet-name>
  <servlet-class>CreateEventServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>CreateEventServlet</servlet-name>
  <url-pattern>/CreateEventServlet</url-pattern>
</servlet-mapping>


<servlet-mapping>
  <servlet-name>FetchEventsServlet</servlet-name>
  <url-pattern>/FetchEventsServlet</url-pattern>
</servlet-mapping>


</web-app>